
#cashier_main_wrapper {
    width: 80%;
    margin-left: 10%;
}
#cashier_main_wrapper ul {
    display: flex;
    width: 100%;
}


#cashier_main_wrapper ul:nth-of-type(1) { 
    font-weight: bold;
    margin-top: 5vh;
}

#cashier_main_wrapper ul.gym_mem_ul:hover { opacity: .5; }


#cashier_main_wrapper li {
    width: 16.6%;
    text-align: center;
    list-style: none;
    padding: .4rem;
    text-transform: capitalize;
}


#mypayment_form #submit {
    display: flex;
    align-items: center;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 2%;
    padding: 1rem 2rem;
    background-color: inherit;
    color: black;
    font-weight: 800;
    font-family: cursive;
    font-style: italic;
}

#mypayment_form #submit:hover { 
    border-left: 3px solid; 
    border-right: 3px solid; 

}

#mypayment_form #submit p { width : 50%; }
#mypayment_form img { 
    width: 100%;
    max-height: 3rem;
    margin-left: 0;
}

#cashier_main_wrapper #msgul {
    width: 75%;
    margin-top: 5vh;
    height: 85vh;
    overflow-y: hidden;
    box-shadow: none;
    margin-left: 0;
    display: block;
}

.msg_from {
    list-style: none;
    height: 3.8rem;
    border-bottom: 1px solid;
    padding-top: 1.1rem;
    padding-left: 1.2rem;
    background-color: #fdfdfd;
}

.msg_subwrapper {
    text-align: center;
    font-weight: 200;
}


#msgul li.msg_text {
    font-weight: normal;
    width: 70%;
    font-size: 1rem;
    text-transform: none;
}
#msgul li:first-of-type, #msgul_two li:first-of-type {
    padding: 1rem;
}
.member_request-ul li {
    width: 18%;
    font-size: 1.1rem;
}
.msg_text {
    list-style: none;
    padding: 1rem;
    border-radius: 50px;
    background-color: #dff0ff;
    margin-top: 1rem;
    margin-left: 0.5rem;
    overflow-wrap: break-word;
}

.no_payment_p {
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    color: coral;
}

.box_contener {
    display: flex;
    width: 100%;
    margin-top: 2vh;
    height: 80vh;
    overflow: hidden;
}


.box_contener ul#members_list_ul {
    display: block;
    overflow: hidden;
    width: 55%;
    margin-right: 5%;
    padding-right: 3%;
}

.box_contener ul#members_list_ul:hover {  overflow-y: scroll;  }


.box_contener ul#members_list_ul li,
.box_contener ul.view_ul li{ 
    width: 100%;
    padding: 0.7rem;
    font-weight: 500;
    border-radius: 10px;
}

.box_contener ul#members_list_ul li:hover { 
    opacity: .5;
    font-weight: 600;
}


.box_contener ul#members_list_ul li:nth-child(even) { background-color: #f4f4f4;  }

#cashier_main_wrapper ul#view_ul { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
 }

#cashier_main_wrapper ul#view_ul:hover {  overflow-y: scroll;   }



#cashier_main_wrapper ul#view_ul .view_ul_ul {
    justify-content: center;
    border: 1px solid #f6f6f6;
    padding: 0.5rem;
    width: 97%;
}

#cashier_main_wrapper ul#view_ul .view_ul_ul li { width: 25%; }

#cashier_main_wrapper ul#view_ul .view_ul_ul li:nth-of-type(4){ 
    background-color: lightseagreen;
    color: white;
    font-weight: 600;
    padding: 0.6rem;
    width: 30%;
 }

 .search_box {
      width : 100%;
      display: flex;
      align-items: center;
 }

 .search_box input {
    width: 50%;
    padding: 0.9rem;
    margin-left: 25%;
    font-size: 1rem;
    border: navajowhite;
    border-bottom: 2px solid #b4b4b4;
    outline: gray;
    border-radius: 10px;
 }

 .search_box button#search_btn {
    background-color: inherit;
    border: none;
 }



