.main_title {
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-transform: full-width;
}
.register_employee-form { 
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 3rem 2rem 5rem 2rem;
}

.register_employee-form div { 
    width: 48%;
    box-shadow: 5px 1px 10px #888;
    padding-bottom: 2rem;
    margin-left: 2%;
}

.register_employee-form input,
.register_employee-form label {
    display: block;
}

.register_employee-form div label {
    font-size: 1.22rem;
    margin-top: 5%;
    margin-left: 10%;
  }

.register_employee-form div input, .register_employee-form div select {
    font-size: 1rem;
    width: 80%;
    padding: .7rem;
    margin-left: 10%;
}

.register_employee-form .new_emp-gender--container {
    display: flex;
    justify-content: start;
    font-size: 1.1rem;
    margin-left: 20%;
}

.register_employee-form .new_emp-gender--container input {  
  width: .8rem;
  margin-left: 1.5rem;
  margin-right: 2rem;
}

.register_employee-form input[type="submit"] {
    width: 30%;
    margin: 10% auto;
    padding: .5rem;
    background-color: inherit;
    border: none;
    font-family: cursive;
    border-left: 2px solid currentColor;
    transition:  1s ease .5s;
}

.register_employee-form input[type="submit"]:hover,
.register_employee-form input[type="submit"]:focus  {
    border-left: none;
    border-bottom:  2px solid currentColor;
}

#job { text-transform: capitalize;}
#for_trainer { display: none; width: 100%; }

#isprivate_label { margin-top: 10%; }

#isprivate,
#isprivate_label,
#salary,
#salary_label,
#firsttime_checker,
#hiddenform { display: none; }

#set_up-notice,
#set_up-notice--notfound { 
    display: none;
    color: red;
    font-size:.8rem;
}

#change_form {
    margin-top: 30%;
    color: inherit;
    font-size: 0.9rem;
    padding-left: 1rem;
}


#firsttime_checker #btn_setup { margin-left: 10%; }

.setup_new-form input {
    margin-top: 2rem;
}
 #set_up-notice { 
    margin-top: 2rem;
    font-size: .9rem;
}

/*-------------manage-employee----------------*/
.employee_type-container {
    display: flex;
    justify-content: center;
    margin: 5%;
}
.employee_type_btn {
    margin-left: 5%;
    font-weight: bold;
    text-transform: uppercase;
    background-color: inherit;
    color: crimson;
    border-radius: 10px;
    padding: .6rem 1rem;
    border: none;

}

.active {  border: 1px solid; }

.employee_type_btn:hover,
.employee_type_btn:focus {
    opacity: .6;
    border: 1px solid;

}
.employee_type_btn .discription { 
    display: block;
    font-size: .7rem; 
}

.manage_employee-ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-transform: capitalize;
}
.title_ul{ 
     font-weight: bold;
     font-size: 1.1rem;
}
.manage_employee-ul li{
        width: 9%;
        overflow-x: clip;
        text-align: center;
}

#list .manage_employee-ul:hover {
    border-bottom: 1px solid gray;
}
.fetch_error-p {
    margin-top: 15%;
    text-align: center;
    font-size: 1.1rem;
    font-family: cursive;
    color: red;
}