
#content_wrapper {
  width: 90%;
  margin-left: 5%;
}

.member_request-ul,
.trainer_member_request-ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-transform: capitalize;
    width: 100%;
  }

.trainer_member_request-ul {
  width: 80%;
    margin-left: 10%;
}
  .member_request-ul:first-of-type {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
  .member_request-ul li {
    width: 18%;
    font-size: 1.1rem;
    padding: 1rem;
  }

  .member_request-ul li.gender { width: 8%; }
  .member_request-ul li.program { width: 15%; }
  .member_request-ul li.plan { width: 10%; }
  .member_request-ul li.req_time { width: 30%; }
  .member_request-ul li.trainers_list { 
    width: 25%;
    text-align: center;
  }

#topnav {
  display: flex;
  justify-content: center;
}

#topnav button {
  padding: .6rem 1rem;
  border: none;
  background-color: inherit;
}
#topnav button:nth-of-type(2),
#topnav button:nth-of-type(3){   margin-left: 5%;   }

#topnav button:hover {  background-color: #ececec;  }
#topnav button.active {  
  padding: .6rem 1rem;
  border: none;
  border-bottom: 3px solid black;
  background-color: #ececec;
}
.span_break { margin-left: 1rem; }

.main_content-wrapper h3{
    margin: 3% 0 5% 0;
    text-align: center;
    font-size: 1.6rem;
    color: cadetblue;
}

.trainer,
.submit_assign_btn,
.hiddenextar_info,
.pendding_btn { display: none; }

.pendding_btn { 
  border: none;
  background-color: inherit;
  color: red;
}

.error_p { 
  display: none;
  color: red;
} 


/*----------------trainer messages----------------*/
.requestedby_span { 
  font-size: 1rem; 
  text-decoration: underline;
}

.accept_decline-list button,
.conflicting_decline-btn{ 
  background-color: inherit;
  border: none;
  font-size: 1rem;
  border: 1px solid aliceblue;
  margin-right: 10%;
  padding-left: 1rem;
  padding-right: 1rem;
}


.accept_btn { color: green; }
.decline_btn,
.conflicting_decline-btn { 
  color: red;

}
.accept_btn:hover { 
  color: white;
  background-color:green;
  text-decoration: underline;
}
.decline_btn:hover { 
  color: white;
  background-color: red;
  text-decoration: underline;
}

.conflicting { color : red; }
.conflicting button { 
  color: gray;
  font-size: .9rem;
  background-color: inherit;
  border: none;
}
.conflicting button:hover { text-decoration: underline; }

.trainer_member_request-ul li {
  width: 25%;
  font-size: 1.1rem; 
  text-align: center;
}
.trainer_member_request-ul form { width: 55%; }
.trainer_member_request-ul form li{ 
  width: 100%;
  text-align: center;
}

.trainer_member_request-ul .accept_decline-list button { margin-right: 0; }



#hidden_page {
  text-align: center;
  font-size: smaller;
  font-family: cursive;
}

.conflicting_decline-btn { display: none;}

#msg_wraapper { 
  display: flex;
  justify-content: center;
  align-items: center;
}

#msg_form {
  border: 1px solid;
  border-radius: 50px;
  height: 70vh;
  width: 40%;
}

#msg_form .formflex:nth-of-type(1) {
  margin-top: 10vh;
    margin-left: 10%;
    margin-bottom: 3vh;
}

#msg_form textarea {
  width: 85%;
  margin-left: 3%;
  max-height: 45vh;
  padding-top: 2rem;
    border: none;
    outline: none;
    border-top: 3px solid;
    font-size: 1rem;
}

#msg_form #sendbtn {
  background-color: inherit;
    border: none;
}


.msgul {
  width: 40%;
  margin-left: 30%;
  margin-top: 5vh;
  height: 85vh;
  overflow-y: hidden;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.msg_from {
  list-style: none;
  height: 3.8rem;
  border-bottom: 1px solid;
  padding-top: 1.1rem;
  padding-left: 1.2rem;
  font-size: 1.1rem;
  background-color: #fdfdfd;
}

.msg_subwrapper {
  height: 75vh;
    overflow-y: hidden;
}

.msg_subwrapper:hover { overflow-y: scroll; }


.msg_text {
  list-style: none;
  width: 80%;
  padding: 1rem;
  border-radius: 50px;
  background-color: #dff0ff;
  margin-top: 1rem;
  margin-left: 0.5rem;
  overflow-wrap: break-word;
}

.msg_time {
  list-style: none;
  font-size: small;
  color: gainsboro;
  margin-left: 50%;
  margin-top: 0.2rem;
}