#packages {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 5%;
    row-gap: 2%;
    margin-left: 1.5%;
}

#packages {
    margin-top: 2rem;
}
#packages section:hover { opacity: .6;}

.workout_img {
    width: 60%;
    height: 60%;
    margin-left: 20%;
 }

 .exersice_section h2 { text-align: center; }
 .exersice_section .discription {
     font-family: cursive;
     font-size: 1.1rem;
     text-align: center; 
 }

 .exercise_div {
     display: none;
     width: 60%;
     margin-left: 20%;
     text-align: center;
 }

 .exersice_section button {
     width: 60%;
     margin-left: 20%;
     background-color: inherit;
     border: none;
     border-bottom: 2px solid red;
 }
 .exersice_section button:hover { 
    border-bottom: 2px solid green;
 }

.notice { 
    display: none;
    text-align: center;
    font-size: larger;
    font-family: Roboto, sans-serif;
    color: red;
}

/*-----------------memberdashboard----------------*/
#myworkout_main #packages { display: block; }
#myworkout_main .exersice_section { 
    display: none;
    margin-top: 7%;
}
#myworkout_main .exersice_section:first-of-type { display: block; }
#myworkout_main .exercise { display: flex; }

#myworkout_main h2 { 
    margin-top: 5%;
    font-size: 1.9rem;
}

#myworkout_main .exercise { 
    display: flex;
    align-items: center;
}

#myworkout_main img { 
    width: 50%;
    height: 30rem;
    margin-left: 5%;
 }
#myworkout_main .exercise div { 
    width: 50%;
    margin-left: 10%;
    font-size: 1.3rem;
}

#slide_btns { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
#slide_btns button { 
    background-color: inherit;
    border: none;
}

#slide_btns button:nth-of-type(2) {  margin-left: 5%; }
