@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&family=Tapestry&display=swap');
#packages {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 5%;
    row-gap: 2%;
    margin-left: 1.5%;
}

#packages {
    margin-top: 2rem;
}

.workout_img {
    width: 60%;
    height: 60%;
    margin-left: 20%;
 }

 .exersice_section h2 { text-align: center; }
 .exersice_section .discription {
     font-family: cursive;
     font-size: 1.1rem;
     text-align: center; 
 }

 .exercise_div {
     display: none;
     width: 60%;
     margin-left: 20%;
     text-align: center;
 }

 .exersice_section button {
     margin-left: 10%;
     background-color: inherit;
     border: none;
     border-bottom: 2px solid red;
 }

 .exersice_section button:hover { 
    border-bottom: 2px solid green;
 }

 .exercise_btns_wrapper {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
.notice { 
    text-align: center;
    font-size: larger;
    font-family: Roboto, sans-serif;
    color: red;
    margin-right: 15%;
    display: none;
}

/*-----------------memberdashboard----------------*/
#myworkout_main #packages { display: block; }
#myworkout_main .exersice_section { 
    display: none;
    margin-top: 1%;
}
#myworkout_main .exersice_section:first-of-type { display: block; }
#myworkout_main .exercise { display: flex; }

#myworkout_main h2 { 
    font-size: 1.9rem;
}

#myworkout_main .exercise { 
    display: flex;
    align-items: center;
}

#myworkout_main img { 
    width: 50%;
    height: 30rem;
    margin-left: 5%;
 }
#myworkout_main .exercise div { 
    width: 50%;
    margin-left: 5%;
    font-size: 1.3rem;
}

#slide_btns { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
#slide_btns button { 
    background-color: inherit;
    border: none;
}

#slide_btns button:nth-of-type(2) {  margin-left: 5%; }

/*---------------------------meal.php---------*/
.mealplan_ul {
    margin-top: 6%;
    width: 40%;
    height: 78vh;
    margin-left: 30%;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
.mealplan_ul li { 
    list-style-type: none;
    font-weight: bold;
    text-align: center;
    font-family: Roboto, "Helvetica Neue";
    color: #830d0d;
    line-height: 2.5rem;
    border-left: 3px solid #5c5c5c;
    margin-bottom: 1vh;
    font-weight: bold;
    height: 6vh;
}

.mealplan_ul li button{ 
    border: none;
    background-color: inherit;
    font-size: 1.5rem;
    font-family: 'Tapestry', cursive;

}

.mealplan_ul li:hover { 
    border-left: 3px solid rgba(250, 4, 159, 0.4); 
} 

#view_title {
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 3rem;
}

.type_title {
    font-family: 'Tapestry', cursive;
    font-size: 2.5rem;
    text-align: center;
    color: #6f6f6f;

}
.meal_div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.viewmeal_ul {
    margin-right: 2rem;
    height: 82%;
    overflow-y: hidden;
}

.viewmeal_ul:hover { overflow-y: scroll; }


.viewmeal_ul .ingredient {
    line-height: 2rem;
    margin-top: 5%;
}

.viewmeal_ul .name { font-size: 1.3rem; font-weight: bold; }
.viewmeal_ul .nutrition { 
    margin-top: 7%;
}

.viewmeal_ul li {
    list-style: none;
    text-align: center;
    line-height: 2rem;
}

.viewmeal_ul li:first-of-type {
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
}

.savebtn_div {
    display: flex;
    justify-content: right;
margin-right: 10%;
align-items: center;
}

.savebtn_div button {
    background-color: inherit;
    border: none;
}
.savebtn_div p {  color: red; margin-left: 1rem; font-size: 1.4rem; font-family: cursive; }

#topnav,
.topnav {
    margin-top: 2%;
    display: flex;
    justify-content: center;
  }
  
  #topnav button,
  .topnav button {
    padding: .6rem 1rem;
    border: none;
    background-color: inherit;
  }
  #topnav button:nth-of-type(2) {   margin-left: 5%;   }
  #topnav button:nth-of-type(3) {   margin-left: 5%;   }
  #topnav button:nth-of-type(4) {   margin-left: 5%;   }

  
  #topnav button:hover {  background-color: #ececec;  }
  #topnav button.active {  
    padding: .6rem 1rem;
    border: none;
    border-bottom: 3px solid black;
    background-color: #ececec;
  }

  #backbtn_yelllow { 
    background-color: inherit;
    border: none;
    margin: 2rem 0 0 2rem;
  }

  #packages #backbtn_yelllow { margin-top: 0; }
  #backbtn_yelllow:hover { border-bottom: 4px solid yellow; }

.mymeal_sec {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4%;
    margin-right: 4%;
    margin-top: 8%;
    margin-left: 2.5%;
}
.mymeal_sec .mealslist_div {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 4%;
    transition: all .5s ease;
}

.mymeal_sec .exercises_list {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 4%;
    overflow-y: scroll;

}
.mymeal_sec .mealslist_div:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-top: 0;
}

.mymeal_sec .mealslist_div h2 { font-family: 'Tapestry', cursive; }
.mymeal_sec .mealslist_div p { 
    padding: 0 4%;
    font-family: 'Tapestry', cursive;
}

.hidden ,
.hidden_week{ display: none;}

.mealslist_div li,
.exercises_list li {
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.exe_list { 
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin-top: 1rem;
    width: 100%;
}
.exe_list:nth-of-type(1) { margin-top: 2.5rem; }
.exe_list:nth-of-type(1) li { font-weight: bold; }


.exercises_list #backbtn_yelllow { margin: 0; }

.hamburger_btn {
    border: none;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: 700;
    font-family: Roboto;
    text-transform: capitalize;
    color: honeydew;
    background-color: inherit;
    opacity: .8;
    margin-bottom: 2%;
    padding: 0.7rem 1rem;
}

.btn_wrapper { 
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.submenu_wrapper { 
    display: none;
    justify-content: space-around;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.submenu_wrapper button {
    border: none;
    background-color: cadetblue;
    padding: 0.5rem 1rem;
    font-weight: 700;
}

#msgbox_wrapper { margin-top: 3.5rem; }
#msgbox_wrapper p{ 
    text-align: center;
    font-weight: 700;
    color: red;
 }

 #addExercises {
    display: block;
    margin: 5% 30%;
    width: 40%;
    text-align: center;
    font-size: large;
    color: blue;
 }
.exe_list li:nth-of-type(1),
 .forwho { text-transform: capitalize; }

 .inventory_ul:nth-of-type(1) {
     color: red;
     font-weight: bold;
     font-size: 1.1rem;
 }
 .inventory_wrapper ul li { 
     list-style: none;
     text-align: center;    
     width: 16%;
    padding: 0.7rem 0;
}
.inventory_wrapper ul li:nth-of-type(2) { font-weight: bold; } 
.inventory_wrapper ul li:nth-of-type(2):hover { 
    font-weight: lighter;
    list-style-type: circle;
} 


 .inventory_wrapper .inventory_ul,
 #msg_wraapper { 
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .topnav label {
    margin-right: 0.5rem;
}

.topnav select {
    margin-right: 5%;
    margin-bottom: 2%;
}

#mypackage .mymeal_sec { margin-top: 2%; }


.non_p { 
    text-align: center;
    margin-top: 5rem;
    font-size: 1.3rem;
    color: red;
    font-family: monospace;
}
ul.exer_ul { display: flex; }
ul.exer_ul li {
    list-style: none;
    width: 30%;
    padding: 0.5rem;
    border-bottom: 1px solid beige;
}

button#here_btn,
button#addManager_btn {
    width: 20%;
    padding: 0.5rem 1rem;
    margin-left: 40%;
    border: none;
    font-size: 1rem;
    border-radius: 50px;
}
ul.payment_ul.payment_ul_header { font-weight: 700; }

ul.payment_ul {
    width: 80%;
    margin-left: 10%;
    margin-top: 5vh;
    display: flex;
}

ul.payment_ul li {
    list-style: none;
    width: 25%;
    text-align: center;
}