.formcontainer {
    width: 50%;
    margin: 3% 0 0 25%;
    height: 87vh;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.formcontainer label {
    display: block;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.formcontainer input {
    margin-left: 10%;
    width: 80%;
    line-height: 2.5rem;
    font-family: cursive;
    font-size: 1.1rem;
    color: gray;
    margin-bottom: 2vh;
    outline-color: #d934b2;
    text-align: center;

}

.formcontainer input:nth-of-type(1) { 
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
}

.formcontainer select { margin-left: 45%;}


.formcontainer textarea {
    margin-left: 5%;
    width: 90%;
    font-family: cursive;
    font-size: 1rem;
    color: gray;
    outline-color: #d934b2;
    text-align: center;
    max-height: 6rem;
}

.formcontainer #exercise_ul { display: none; }
.exercise_ul { border-bottom: 1px solid #cecccc; }
.formcontainer li { list-style: none; }

#submit {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 2%;
    padding: 0.7rem 1rem;
}
