#forwho {
    height: -webkit-fill-available;
    overflow: hidden;
}

#forwho:hover { overflow-y: scroll; }

.formcontainer {
    width: 50%;
    margin: 3% 0 0 25%;
    height: 87vh;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.formcontainer label {
    display: block;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.formcontainer input {
    margin-left: 10%;
    width: 80%;
    line-height: 2.5rem;
    font-family: cursive;
    font-size: 1.1rem;
    color: gray;
    margin-bottom: 2vh;
    outline-color: #d934b2;
    text-align: center;

}

.formcontainer input:nth-of-type(1) { 
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
}

.formcontainer select { margin-left: 45%;}


.formcontainer textarea {
    margin-left: 5%;
    width: 90%;
    font-family: cursive;
    font-size: 1rem;
    color: gray;
    outline-color: #d934b2;
    text-align: center;
    max-height: 6rem;
}

.formcontainer #exercise_ul,
.formcontainer .addedul { display: none; }
.exercise_ul { border-bottom: 1px solid #cecccc; }
.formcontainer li { list-style: none; }

#submit,
#update {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 2%;
    padding: 0.7rem 1rem;
}



#msgbox {  
    width: 90%;
    display: flex;
}

#sidenav {
    width: 25%;
    margin-top: 5vh;
    height: 85vh;
    overflow-y: hidden;
    background-color: #fdfdfd;
    padding-top: 4rem;
}

#sidenav_two {
    width: 20%;
    margin-top: 5vh;
    height: 85vh;
    overflow-y: hidden;
    background-color: #fdfdfd;
    padding-top: 4rem;

}

#sidenav button,
#sidenav_two button {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    border: none;
    background-color: beige;
    display: flex;
    align-items: center;
}

#sidenav button:first-of-type,
#sidenav_two button:first-of-type { 
    background-color: antiquewhite;
}

#sidenav button:nth-of-type(2),
#sidenav_two button:nth-of-type(2) { 
    background-color: #f1e9fc;
}

#sidenav .sidenav_btn_txt,
#sidenav_two .sidenav_btn_txt {
    width: 90%;
    text-align: initial;
    font-size: .9rem;
    font-weight: 700;
    padding-left: 0.5rem;
}

ul#forwho_ul li {
    margin-top: 1rem;
    width: 90%;
    margin-left: 5%;
    font-family: cursive;
    text-align: center;
    font-weight: 100;
    font-size: 1rem;
    padding: 0.4rem;
}

ul#forwho_ul li:hover { 
    opacity: .5;
}


#msgul,
#msgul_two {
    width: 75%;
    margin-top: 5vh;
    height: 85vh;
    overflow-y: hidden;
    box-shadow: none;
    margin-left: 0;

}

#msgul_two { 
    width: 80%;
    display: flex; 
}

#msgul_two #showmsg_sec {
    width: 60%;
}

.msg_subwrapper {  overflow-x: hidden;  }
.msg_subwrapper { 
    text-align: center;
    font-weight: 200;
}

#msgul li:first-of-type,
#msgul_two li:first-of-type { width: 100%; }

#msgul li.msg_text {
   font-weight: normal;
    width: 70%;
    font-size: 1rem;
    text-transform: none;
}


#msgul_two li.msg_text { 
    font-weight: normal;
    font-size: 1rem;
    width: 75%;
    text-transform: none;

}

#msgul li.msg_time{
    width: 30%;
    font-size: 1rem;
    font-weight: normal;
    margin-left: 45%;
}

#msgul_two li.msg_time { 
    width: 30%;
    font-size: 1rem;
    font-weight: normal;
    margin-left: 45%;
}

#msg_form {
    width: 40%;
    display: flex;
    background-color: #fdfdfd;
    height: -webkit-fill-available;
    border: none;
    border-radius: 0;
}

#msgul_two #msg_form #forminput_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
}

#msg_form textarea {
    width: 93%;
    margin-left: 3%;
    padding-top: 2rem;
    padding-left: 1rem;
    border: none;
    outline: none;
    border-bottom: 3px solid;
    font-size: 1rem;
    height: -webkit-fill-available;
    margin-top: 3.8rem;
    max-height: none;
}


#msgul_two #submit {     
    background-color: inherit;
    border: none;
    margin-top: 0.2rem; 
}

